<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<div class="container">
    <h2>Welcome to the Internal Client Information Portal</h2>
    <p>This system dynamically generates client records using EJS templates.</p>
</div>

<%- include('../partials/footer') %>